html, body {
    background-color: #E6FFE6;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

div.container {

    height: 100%;
    width: 1000px;
}

div.sidebar {
    float: left;
    width: 50px;
    height: 100%;
    background-color: #a1a1a1;
    border-right: 1px solid;
}

div.content {
    float:left;
    height: 100%;
    width: 900px;
}

div.preview {
    display: none;
    position: absolute; 
    left: 70px; 
    top: 0px; 
    border: solid black 1px; 
    padding: 10px; 
    background-color: rgb(200,100,100); 
    text-align: justify; 
    font-size: 12px; 
    width: 135px; 
    z-index: 2;    
}

#upperboard {
    border-bottom: solid 1px;
    border-right: solid 1px;
}

li.place {
    list-style: none inside; 
    color:blue;
    background: url('./p.png');
    height: 40px;
    width: 50px;
}


li.place:hover {
    background: url('./phover.png');
}
